VITE_API_URL = "HERE_YOUR_URL"
VITE_WEBSITE_URL = "HERE_YOUR_URL"

SMTP_HOST = "SMTP_HOST"
SMTP_PORT= 587
SMTP_USER = "SMTP_USER_HERE"
SMTP_PASS = "SMTP_PASS_HERE"

REDIS_HOST = "REDIS_HOST_HERE"
REDIS_PASS = "REDIS_PASS_HERE"
REDIS_DB = "REDIS_NUMBER_DB"
REDIS_PORT = 6379

MYSQL_HOST = "MYSQL_HOST_HERE"
MYSQL_USER  = "MYSQL_USER_HERE"
MYSQL_PASS = "MYSQL_PASS_HERE"
MYSQL_DB = "MYSQL_DB_HERE"