REACT_URLS = [FOR_CORSMIDDLEWARE]

WEBSITE_URL = "HERE_YOUR_URL"
BACKEND_URL = "HERE_YOUR_URL"

SMTP_HOST = "HERE_YOUR_SMTP"
SMTP_PORT = 587
SMTP_USER = "HERE_YOUR_USER"
SMTP_PASS = "HERE_YOUR_PASS"

REDIS_HOST = "HOST"
REDIS_PASS = "PASSWORD"
REDIS_DB = "CHOOSE_YOUR_DB"
REDIS_PORT = 6379

IS_DEBUG = False

MYSQL_HOST = "HOST"
MYSQL_USER  = "USER"
MYSQL_PASS = "PASSWORD"
MYSQL_DB = "DATABASE"