MYSQL_HOST = "HERE_YOUR_HOST"
MYSQL_USER = "HERE_YOUR_USERNAME"
MYSQL_PASS = "HERE_YOUR_PASSWORD"
MYSQL_PORT = 3306
MYSQL_DB = "HERE_YOUR_DATABASE_NAME"
MYSQL_CHARSET = "utf8mb4"

REDIS_HOST = "HERE_YOUR_HOST"
REDIS_PORT = 6379
REDIS_USER = "HERE_YOUR_USERNAME"
REDIS_PASS = "HERE_YOUR_PASSWORD"
