@font-face {
  font-family: Bauhaus;
  src: url(/assets/fonts/Bauhaus93Remastered-Regular.otf);
}

@font-face {
  font-family: SSFBreakthrough;
  src: url(/assets/fonts/SSFBreakthrough-Regular.ttf);
}

:root {
  --background-day: #f0f0f0;
  --background-night: #1e1e1e;
}

body {
  min-height: 1400px;
  align-items: center;
  display: flex;
}

.right-board {
  width: 550px;
  display: inline-flex;
  flex-direction: row;
  margin-left: auto;
  gap: 30px;
}

.buttons {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  color: white;
  margin-right: 30px;
  gap: 20px;
  font-weight: bolder;
  & img {
    display: block;
    width: 45px;
  }

  transition: all 500ms ease;

  &:hover {
    transition: all 500ms ease;
    filter: drop-shadow(0px 0px 5px white)
  }

}

.headerbox {
    margin-top: 30px;
    position: relative;
    display: flex;
    width: 90vw;
    height: 40px;
    background-color: rgb(100, 53, 131);
    border-radius: 30px;
    padding: 10px;
    align-items: center;

    & .logo {
        z-index: 20;
        height: 100px;
        margin-left: 90px;
        transition: all 0.3s ease;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: all 0.3s ease;
        }
        &:active {
            transform: scale(0.95);
            transition: all 500ms ease;
        }
    }
}