body {
    background-color: rgb(19, 19, 19);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    background-color: rgb(24, 24, 24);
    border-radius: 30px;
    height: 1200px;

}


.content-head {
    background-color: rgb(12, 12, 12);
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto auto auto auto 1fr;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.title {
    grid-column: 3 / 7;
    grid-row: 2;
    font-size: clamp(48px, 8vw, 84px);
    font-weight: 100;
    margin: 0;
    line-height: 1;
    z-index: 2;
    font-style: normal;
    font-weight: lighter;
    font-family: "Bauhaus";
}

.desc {
    grid-column: 3 / 7;
    grid-row: 3;
    padding: 10px;
    
}

.download {
    grid-column: 3 / 6;
    grid-row: 5;
    margin-top: 30px;
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 20px 40px;
    border-radius: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.3s ease;
    z-index: 11;
    position: relative;
    &:hover { transform: translateY(-3px); filter: brightness(1.2); }
    &:active { transform: scale(0.95); }
}

.totto {
    grid-column: 6 / 11;
    grid-row: 1 / 11;
    background-image: url("/assets/mascot/totto.png");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    scale: 1.05;
    z-index: 3; 
    filter: drop-shadow(0px 0px 5px rgb(243, 228, 228));
    position: relative;
    z-index: 10;
    transition: all 0.2s ease;
    &:hover { 

        transition: all 0.4s easy; 
        filter: drop-shadow(0px 0px 9px rgb(243, 228, 228));
    
    }
}