
.on-send-avatar {
    margin-top: 20px;
    text-align: center;
    background-color: rgb(94, 94, 94);
    padding: 10px;
    border-radius: 20px;
    width: 160px;
    height: auto;
    cursor: pointer;
    transition: all 200ms ease;
    &:hover {
        transition: all 400ms ease;
        transform: scale(1.1);
    }
    &:active {
        transition: all 150ms ease;
        transform: scale(0.9);
    }
}

.notify-message-settings-avatar {
    position: absolute;
    bottom: -40px;
    
}

.settings-box {
    width: auto;
    padding: 30px;
    min-height: 1400px;
    background-color: rgb(31, 31, 31);
    margin-top: 50px;
    border-radius: 20px;
}

.settings-title {
    display: flex;
    width: auto;
    margin-left: 160px;
    font-size: 48px;
}

.settings-constructor {
    margin-top: 20px;
    width: auto;
    background-color: rgb(19, 19, 19);
    border-radius: 20px;
    height: 800px;
    padding: 24px;
}

.avatar-editor img {
    width: 144px;
    height: 144px;
    object-fit: cover;
    margin-left: 50px;
    border-radius: 20px;
}

.avatar-editor-list-option {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    position: relative;
}

.header-avatar-editor {
    
    align-items: center;
    display: flex;
    gap: 30px;
    & span {
        font-size: 24px;
    }
    & #url-avatar {
        margin-top: 20px;
        width: 250px;
        background-color: black;
        padding: 5px;
        color: white;
        border: 2px solid gray;
        border-radius: 10px;
    }
    & #file-avatar {
        margin-top: 10px;
    }
}